.grid-item {
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 2px #a9a9a9;
  display: flex;
  justify-content: center;
  align-items: center;

  > .grid-item-title {
    pointer-events: none;
  }

  &.draggable {
    cursor: -webkit-grab;
    cursor: grab;
  }

  &.over {
    background-color: #28abe3;
    box-shadow: 0px 0px 5px 3px #28abe3;
  }
}
